body {
    padding: 0px 10px;
}

.jumbotron {
    color: white;
    background-size: cover;
    background-image: url(images/Start.jpg);
}

.display-4, .lead {
    position: relative;
    top: -50px;
    
}

.lead {
    width: 35%;
}