body {
    display: block;
    padding: 8px;
    background-size: cover;
    background-image: url(https://i.pinimg.com/originals/36/f0/94/36f0949c623b61a235fd6645fa507236.jpg);
}

.jumbotron {
    position: relative;
    top: 150px;
    left: 20%;
    width: 60%;
    color: white;
    background-size: cover;
    background-image: url(images/Start.jpg);
    /* opacity: .80; */
    
}

.display-4, .lead, nav, footer {
    position: relative;
}

.display-4 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 65px;
    top: -50px;
}

.lead {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: -70px;
    left: 5px;
    width: 35%;
}

nav {
    top: -290px;
    left: 75%;
    opacity: .8;
    width: 325px;
}

footer {
    width: 200px;
    top: 250px;
    left: 43%;
}